ul#main-menu {
	margin: 0;
	padding: 0;
	position: relative;
}
ul#main-menu li {
	border-bottom: 1px solid #ccc;
	list-style-type: none;
}
ul#main-menu li:last-child {
	border-bottom: none;
}
ul#main-menu li.menu-item a {
	padding: 0.8rem;
    font-size: 1.5rem;
    display: block;
    font-weight: 700;
    text-align: left;
    width: 100%;
    color: #000;
}
ul#main-menu li.menu-item a:hover,
ul#main-menu li.menu-item a:focus,
ul#main-menu li.menu-item a:active {
    color: #000;
	background: #F2F2F2;
}
ul#main-menu li.menu-item.dropdown > a::after {
    content: "";
    font-family: "uofgicons";
    font-weight: 900;
    color: #C20430;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    text-align: center;
    border: none;
    width: 2rem;
    height: 1.5rem;
}
ul#main-menu ul.dropdown-menu {
	position: static;
	float: none;
	border: none;
}

ul#main-menu ul.dropdown-menu li {
	border-bottom: none;
	position: relative;
}
ul#main-menu ul.dropdown-menu a {
    padding: 0.8rem;
    font-size: 1.5rem;
    display: block;
    font-weight: normal;
    text-align: left;
    width: 100%;
    color: #000;
}
ul#main-menu ul.dropdown-menu a:hover, 
ul#main-menu ul.dropdown-menu a:focus,
ul#main-menu ul.dropdown-menu a:active {
    background: ##F2F2F2;
}

ul#main-menu ul.dropdown-menu a::before {
    content: "";
    font-family: "uofgicons";
    font-weight: 900;
	font-size: 1.2rem;
    color: #FFC72A;
	display: block;
	float: left;
	width: 1.5rem;
}

/* Reposition and resize menu on widescreen displays */
@media (min-width: 900px) 
{
	div#allNavWrapper.collapse {
		display: flex;
		justify-content: flex-end;
		border: none;
		position: relative;
		top: 0;
		padding: 0;
		width: 100%;
		background: #C20430;
	}
	button#mainMenuHamburger {
		display: none;
	}
	ul#main-menu {
		transition: all 0.25s ease-in-out;
		height: 9rem;
		animation-delay: 3s;
		display: flex;
		flex-direction: row;
		height: 9rem;
		margin-bottom: 0;
		position: relative;
		z-index: 15;
	}
	ul#main-menu li {
		border-bottom: none;
	}
	ul#main-menu li.menu-item {
		display: inline-block;
		vertical-align: middle;
		transform: perspective(0.1rem) translateZ(0);
		box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0);
		/* position: relative; */
		width: 10rem;
		background: #C20430;
		transition-property: color;
		transition-duration: 0.15s;
	}
	ul#main-menu li.menu-item a {
		white-space: normal !important;
		text-align: center;
		color: #eee;
		font-size: 1.6rem;
		line-height: 2rem;
		padding: 2rem 1.5rem 1.5rem;
		display: block;
		font-weight: 700;
		transition: color 0.25s ease-out;
	}
	/* The downward-facing chevron character */
	ul#main-menu li.menu-item.dropdown > a::after {
		content: "";
		font-family: "uofgicons";
		font-weight: 400;
		color: #FFC72A;
		display: block;
		border: none;
		height: 1.5rem;
		position: static;
		margin: 0 auto;
	}
	ul#main-menu li.menu-item a:hover,
	ul#main-menu li.menu-item a:focus,
	ul#main-menu li.menu-item a:active {
		color: #000;
		background: #FFC72A;
	}
	ul#main-menu li.menu-item.dropdown > a:hover:after,
	ul#main-menu li.menu-item.dropdown > a:focus:after,
	ul#main-menu li.menu-item.dropdown > a:active:after {
		color: #C20430;
	}
	/* Submenus of Global Menu */
	ul#main-menu ul.dropdown-menu.show {
		visibility: visible !important;
		opacity: 1 !important;
		background: #eee;
		height: auto;
	}
	ul#main-menu ul.dropdown-menu {
		background: #eee;
		border-radius: 0;
		border: none;
		visibility: hidden;
		opacity: 0;
		transition: all 0.25s ease-out;
		width: 25rem;
		padding: 0;
		display: block;
	}
	ul#main-menu ul.dropdown-menu a {
		color: #333 !important;
		text-align: left;
		padding: 0;
		font-weight: 400;
		background: #eee;
		padding: 1rem 1rem 1rem 2rem;
		transition: all 0.25s;
		position: relative; /* needed to ensure all the arrow-bullets appear in the correct place */
	}	
	ul#main-menu ul.dropdown-menu a::before {
		content: "";
		font-family: "uofgicons";
		font-weight: 700;
		position: absolute;
		left: 0.75rem;
		top: 1.2rem;
		display: inline-block;
		text-align: left;
		color: #C20430;
		width: 1.75rem;
		height: 1.75rem;
		padding-right: 1rem;
		z-index: 10;
		opacity: 1;
		transform: scaleX(1);
		background: none;
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
	ul#main-menu ul.dropdown-menu a:hover,
	ul#main-menu ul.dropdown-menu a:focus,
	ul#main-menu ul.dropdown-menu a:active {
		background: #ccc;
	}
}