ul#quick-links {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 0;
}
ul#quick-links li {
	list-style-type: none;
	width: 25%;
}
ul#quick-links li a {
    font-size: 1rem;
    text-align: center;
    border-bottom: 0;
    font-weight: 700;
    color: #000;
	display: block;
	padding: 0.5rem;
}
ul#quick-links li a:hover,
ul#quick-links li a:focus,
ul#quick-links li a:active {
	background: #ccc;
}
ul#quick-links li a i {
	display: block;
	font-size: 3rem;
	padding-bottom: 0.3rem;
}

/* Reposition and resize Quick Links on widescreen displays */
@media (min-width: 900px) 
{	
	#quicklinksWrapper {
		margin: 0 auto;
	}
	ul#quick-links {
		margin-bottom: 0;
	}
	ul#quick-links li {
		width: auto;
	}
	ul#quick-links li a {
		font-size: 1.5rem;
		font-weight: normal;
		color: #fff;
		display: block;
		padding: 0.5rem 0.75rem;
	}
	ul#quick-links li a:hover,
	ul#quick-links li a:focus,
	ul#quick-links li a:active {
		color: #000;
	}
	ul#quick-links li a i {
		font-size: 4rem;
	}
}