.resources-button {
	display: none;
}
#collapseResources.collapse {
	display: block;
}
ul.resources-list {
	list-style-type: none;
	padding-left: 0;
}
ul.resources-list li a:before {
	content: "";
	font-family: "uofgicons";
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 1.5rem;
	position: relative;
	color: #ffc72a;
	display: inline-block;
	padding-right: 0.8rem;
}
ul.resources-list li a {
	color: #000;
	padding: 0.6rem;
	display: block;
}
ul.resources-list li a:hover,
ul.resources-list li a:focus {
	background: #f2f2f2;
}

@media (min-width: 900px) 
{
	nav.utility-nav {
		position: absolute;
		top: -3rem;
		right: 0;
	}
	#collapseResources h3 {
		font-size: 1.75rem;
		color: #fff;
		margin-top: 0;
	}
	.resources-button {
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
		height: 3rem;
		width: 11.5rem;
		line-height: 2rem;
		display: inline-block;
		padding: 0.5rem 1rem;
		transition: all 0.25s ease-in-out;
		font-size: 1.5rem;
	}
	.resources-button[aria-expanded=true] {
		background: #ffc72a;
		color: #000;
		text-decoration: none;
		transition: all 0.25s ease-in-out;
	}
	/* The triangle appearing below "Resources" when the menu is expanded */
	.resources-button[aria-expanded=true]::after {
		content: "";
		width: 0;
		height: 0;
		border: 0 solid transparent;
		border-left-width: 2rem;
		border-right-width: 2rem;
		border-top: 1rem solid #ffc72a;
		z-index: 21;
		position: absolute;
		top: 3rem;
		left: 35%;
		transition: all 0.25s ease-in-out;
	}
	.resources-button i.fa-bars {
		display: inline;
	}
	.resources-button:hover,
	.resources-button:focus {
		background: #ffc72a;
		color: #000;
	}
	#collapseResources.collapse {
		display: none;
	}
	#collapseResources.show {
		display: block;
		position: absolute;
		right: 0;
		top: 3rem;
		z-index: 16;
		background: #222;
		width: 70.5rem;
		padding: 1.5rem 4rem;
		transition: all 0.25s ease-in-out;
	}
	ul.resources-list {
		list-style-type: none;
	}
	ul.resources-list li a {
		color: #fff;
		font-size: 1.5rem;
		padding: 0.2rem;
	}
	ul.resources-list li a:hover,
	ul.resources-list li a:focus {
		text-decoration: underline;
		background: transparent;
	}
}