.mejs__time-rail input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
	margin-top: 5px;
	position: absolute;
	height: 1rem;
  }

.mejs__time-rail input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

.mejs__time-rail input[type=range]:hover::-webkit-slider-thumb,
.mejs__time-rail input[type=range]:focus::-webkit-slider-thumb {
	background: rgba(255,199,42,0.9);
	border: 0.4rem solid rgba(255,255,255,0.9);
	border-radius: 50%;
	cursor: pointer;
	height: 1rem;
	left: 0;
	position: relative;
	top: 0rem;
	width: 1rem;
	z-index: 11;
   }

.mejs__time-rail input[type=range]::-moz-range-thumb {
	background: transparent;
	border: none;
}

.mejs__time-rail input[type=range]:hover::-moz-range-thumb,
.mejs__time-rail input[type=range]:focus::-moz-range-thumb {
	/* -moz-appearance: none; */
	background: rgba(255,199,42,0.9);
	border: 0.4rem solid rgba(255,255,255,0.9);
	border-radius: 50%;
	cursor: pointer;
	height: 0.4rem;
	left: 0;
	position: relative;
	top: 0rem;
	width: 0.4rem;
	z-index: 11;
}

.mejs__time-rail input[type=range]:hover::-ms-thumb,
.mejs__time-rail input[type=range]:focus::-ms-thumb {
	background: rgba(255,199,42,0.9);
	border: 0.4rem solid rgba(255,255,255,0.9);
	border-radius: 50%;
	cursor: pointer;
	height: 1rem;
	left: 0;
	position: relative;
	top: 0rem;
	width: 1rem;
	z-index: 11;
}

.mejs__time-rail progress.mejs__time-total {
	position: initial;
}

.mejs__time-rail progress.mejs__time-total[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;
	background:rgba(0,0,0,0.7);
	border: none;
}

.mejs__time-rail progress.mejs__time-total[value]::-webkit-progress-value {
	background-color: rgba(255,199,42,0.9);
}

.mejs__time-rail progress.mejs__time-total[value]::-moz-progress-bar {
	background-color: rgba(255,199,42,0.9);
}

.mejs__time-rail progress.mejs__time-total[value]::-webkit-progress-bar {
	background: none;
}